/* Center the form vertically and horizontally */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/ia.jpg'); /* Set background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
}

/* Reset default margin and padding */
html, body, h1, form, input, button {
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block; /* Display labels as block elements */
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}



/* Add your navbar styling here */
.navbar {
    background-color: #007bff; /* Navbar background color */
    color: #fff; /* Navbar text color */
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff; /* Logo text color */
    text-decoration: none;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    color: #fff; /* Navbar link color */
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
}
