<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - My Website</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body>
<div class="container">
<h1 style="color: brown;">Forgotten your password 😒?</h1>
<p style="color: yellowgreen;">Please reset here....</p><br>
<h2 style="color: aqua;">Enter your email address below,<br> and we'll email instructions for setting a new one.</h2>
<br><br>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit"><br><br>
    <p>CANCEL <BR><a href="{% url 'login' %}">Login</a></p>
</form>
</div>
</body>
</html>
