<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcel Registration Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'parcel_details' %}">Parcel Details Available</a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'track_parcel' %}">Parcel TRACKING</a></li>
            <li><a href="{% url 'admin_panel' %}">ADMIN PRIVILEGE<br> only</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Parcel Registration Page</h1>
        
        <form action="{% url 'register_parcel' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit">Register Parcel</button>
        </form>
    </div>
</body>
</html>
